<section id="content" class="grid_12">
	<ol>
		<li class="grid_4 alpha">
			<section>
			<h2>SITES</h2>
			<p>Currently sharing data from 4 sites generating a grand total of 3500 points for the Red Cross.
			<br/><br/>
You are ranked #5994 on the personal leader board. Add <a href="#">more sites</a> or <a href="#">tell us about yourself</a> to climb higher.</p>
			</section>
		</li>
		
		<li id="about" class="grid_4">
			<section>
			<h2>ABOUT YOU</h2>
			<span class="abtlabel">How old are you?</span> <input type="text" size="2"/>
			<p>
			Tell us about yourself and we’ll share this data with advertisers and donate the proceeds.
			<br/>
			<button>Submit</button>
			</p>
			
			<ul id="controlbtn">
				<li id="prev"><a href="#"> <img src="/images/prev.png"/> </a></li>
				<li id="next"><a href="#"> <img src="/images/next.png"/> </a></li>				
			</ul>
			</section>
		</li>
		
		<li class="grid_4 omega">
			<section>
			<h2>FRIENDS</h2>
			<p>You’ve signed up <img src="/images/users.png"/> 10 enlikers who have generated more than <img src="/images/points.png"/> 60,000 points for charities.

You are currently <img src="/images/ranks.png"/> ranked #10000 on the leader board. Invite some more people to help your favorite charity and climb higher.</p>
			</section>
		</li>
	</ol>
</section>
